<%-include("partials/header.ejs")  -%>

<h1> Personal To Do</h1>

  <% if(app.locals.taskP){  %>
      <% for(var i=0; i<taskP.length; i++){%>
      <div class="item">
      <input type="checkbox" >
      <p>   <%= taskP[i] %>  </p>
      </div>
    <% }}else{ %>
      <h3>Enter first task</h3>
    <% } %>
  


<form action="/submit" method="POST">
    <input type="text" name="taskName" placeholder="Enter a task" autocomplete="off">
    <input type="submit" value="OK">
  </form>



<%-include("partials/footer.ejs")  -%>