input:checked + p {
    text-decoration: line-through;
}

a{
    text-decoration: none;
    color:red;
}

nav{
    display: flex;
    gap: 2%;
}

.item{
    display: flex;
}

h1{
    display: flex;
    justify-content: center;
    font-size: 5em;
}

h2{
    display: flex;
    justify-content: center;
    font-size: 3em;
}

.taskList{
    display: flex;
    flex-direction: column;
    gap: 1em;
}

.container{
    display: flex;
    justify-content: center;
}

.item{
    display: flex;
    gap: 20px;
}