input:checked + p {
    text-decoration: line-through;
}

a{
    text-decoration: none;
    color:red;
}

nav{
    display: flex;
    gap: 2%;
}

.item{
    display: flex;
}

h1{
    margin-bottom: 0%;
    display: flex;
    justify-content: center;
    height: fit-content;
    font-size: 5em;
    font-family: 'Borel', cursive;
}

h2{
    margin-top: 0;
    display: flex;
    justify-content: center;
    font-size: 3em;
    font-family: 'Rubik', sans-serif;
}

.taskList{
    display: flex;
    flex-direction: column;
    gap: 1em;
}

.container{
    display: flex;
    justify-content: center;
}

.item{
    display: flex;
    gap: 20px;
}